body {
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  max-width: 23.4375rem;
  width: 100%;
}

section {
  padding: 3rem;
  max-width: 20.4375rem;
  width: 100%;
}

.first-column {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--gold-500);
}
.second-column {
  background-color: var(--cyan-800);
}
.third-column {
  background-color: var(--green-950);
  border-radius: 0 0 0.5rem 0.5rem;
}

.content {
  width: 14.4375rem;
}

img {
  margin-bottom: 2rem;
}

h1 {
  color: var(--gray-100);
  font-family: "Big Shoulders", "Lexend Deca", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h2 {
  color: var(--white);
  font-family: "Lexend Deca", "Big Shoulders", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0.75;
  margin-bottom: 1.5rem;
}

.first-column-button {
  background-color: var(--gray-100);
  color: var(--gold-500);
  font-family: "Lexend Deca", "Big Shoulders", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  width: 9.1875rem;
  height: 3rem;
  border-radius: 1.5625rem;
  border: none;
}
.second-column-button {
  background-color: var(--gray-100);
  color: var(--cyan-800);
  font-family: "Lexend Deca", "Big Shoulders", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  width: 9.1875rem;
  height: 3rem;
  border-radius: 1.5625rem;
  border: none;
}
.third-column-button {
  background-color: var(--gray-100);
  color: var(--green-950);
  font-family: "Lexend Deca", "Big Shoulders", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  width: 9.1875rem;
  height: 3rem;
  border-radius: 1.5625rem;
  border: none;
}

button:hover {
  background-color: transparent;
  color: var(--white);
  border: 0.125rem solid var(--white);
}

@media (min-width: 48rem) {
  main {
    max-width: 38rem;
    width: 100%;
  }

  section {
    padding: 3rem 5rem;
    max-width: 38rem;
    width: 100%;
  }

  .content {
    max-width: 26.875rem;
    width: 100%;
  }
}

@media (min-width: 90rem) {
  main {
    display: flex;
    align-items: center;
    max-width: 57.5625rem;
    width: 100%;
  }

  section {
    padding: 3rem;
    max-width: 19.1875rem;
    width: 100%;
  }

  .first-column {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .third-column {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .content {
    max-width: 12.5rem;
    width: 100%;
  }

  img {
    margin-bottom: 2.5rem;
  }

  h2 {
    margin-bottom: 5rem;
  }
}
